/* ========================================== */
/* Cabecalho */
/* ========================================== */
*{
	/* border: 1px solid #E1F757; */
	/* background-color: #262626; */
	/* color:#FEFEFE; */
	border: 1px solid black;
	
}

.sacola{
	background: url(../img/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;
}

.menu-opcoes ul{
	font-size: 15px;
}

.menu-opcoes a{
	color: #036;
}

body{
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* block e inline*/
.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}

.sacola {
	padding-top: 8px;
}

/* centralização de elementos*/
.container{
	margin: 0 auto;
	width: 940px;
}

/* posicionamento do menu-opcoes */
header{
	position: relative;
}

.menu-opcoes{
	position: absolute;
	bottom: 0;
	right: 0;
}

.sacola{
	position: absolute;
	top: 0;
	right: 0;
}

/* suporte HTML5 ao IE8 */
.header{
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
}

/* ========================================== */
/* Menu e Destaque */
/* ========================================== */
.busca, 
.menu-departamentos{
	background-color: #dcdcdc;
	font-weight: bold;
	text-transform: capitalize;
	margin-right: 10px;
	width: 230px;
}

.busca h2, 
.busca form, 
.menu-departamentos h2{
	margin: 10px;
}

.menu-departamentos li{
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a{
	color: #333;
	text-decoration: none;
}

.busca input{
	vertical-align: middle;
}

.busca input[type=search]{
	width: 170px;
}

/* elementos a esquerda */
.busca,
.menu-departamentos{
	float: left;
}

.menu-departamentos{
	clear: left;
}

/* margens e posicionamentos do menu lateral e no topo */
.destaque{
	margin-top: 10px;
}

.menu-departamentos{
	margin-top: 10px;
	padding-bottom: 10px;
}

/* ========================================== */
/* Menu e Destaque */
/* ========================================== */
