body{
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1{
	background-image: url(../img/sobre-background.jpg);
}

h2{
	border-bottom: 2px solid  #333;
}

figure{
	background-color: #F2EDED;
	border: 1px solid #ccc;
	text-align: center;
}

figcaption{
	font-style: italic;
}

/* Espaçamento e margem */
h1{
	padding: 10px;
}

h2{
	margin-top: 30px;
}

p{
	padding: 0 45px;
}

figure{
	padding: 15px;
	margin: 30px;
}

figcaption{
	margin-top: 10px;
}

body{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}